<h2>Olá {{name}},</h2>
<p>
  Você solicitou uma recuperação de senha! Para prosseguir acesse o link abaixo
</p>
<p>
  <a href={{resetPasswordUrl}} target="='blank'">Recuperar Senha</a>
</p>
<p>
  Caso não tenha sido você que tenha feito a solicitação, descarte o e-mail.
</p>
<p>
  <strong>Diego Dev</strong>
</p>
